# Local development (SQLite file)
DATABASE_URL="file:./dev.db"

# Production (Turso hosted DB) - set these to use remote DB
# TURSO_DATABASE_URL="libsql://your-db-name.turso.io"
# TURSO_AUTH_TOKEN="your-auth-token"

DATABASE_URL="file:./dev.db"
TURSO_DATABASE_URL="libsql://gst-invoice-manager-japkiratsingh.aws-ap-south-1.turso.io"
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzQwMzIxMDAsImlkIjoiMDE5ZDBjOGMtYWQwMS03ZmE3LWExNjMtMzQ3MTNhZWQ2YTI2IiwicmlkIjoiNTFkMDBkOGQtNGVlOC00ODJjLWE3YjgtM2RjMzg1YjkxNTgwIn0.3OGVqYn8obk6ZTPA51JADGYmCagYbvQsZ1Y6zL39lJzQjUhenN5YGuiORF0jWoC9AFS71fr6DiBjQki-2wZxAQ"
